extends layout

block content
  div.container
    ul
      h1 #{category}

      if tips.length
        each tip in tips
          .tip
            h2 
              a(href=`/forum/${tip.tipID}`)= tip.title

            p Game: #{tip.gameTitle}
            p
              a(href=`/userprofile/${tip.userID}`)= tip.username
              |  on #{tip.createdAt.toLocaleDateString()}
      else
        p Sorry, there are no tips available for this category yet!
