doctype html
html
  head
    title #{user.username}'s Profile
    link(rel="stylesheet", href="/static/styles.css")
  body
    div.container
      h1 #{user.username}'s Profile
      div.profile-info
        img.profile-img(src=user.profilePicture alt="Profile Picture")
        p Name: #{user.fullname}
        p Email: #{user.email}
        p Member since: #{user.joinDate}
        p Progress Level: #{user.progress} 

      div.badges
        h2 Achievements
        if badges.length
          ul
            each badge in badges
              li 
                strong #{badge.name} 
                |  - #{badge.description} (Earned: #{badge.earned_at})
        else
          p No badges earned yet.

      div.contributions
        h2 Contributions
        if tips.length
          ul
            each tip in tips
              li 
                a(href=`/tips/${tip.tipID}`) #{tip.title} (#{tip.gameTitle})
        else
          p No contributions yet.

      a(href="/") Back to Home
