doctype html
html
  head
    title #{user.username}'s Statistics
    link(rel="stylesheet", href="/static/styles.css")
  body
    div.container
      h1 #{user.username}'s Statistics

      div.stats
        h2 Overview
        ul
          li Total Tips Posted: #{user.stats.totalTips}
          li Total Comments: #{user.stats.totalComments}
          li Total Likes Received: #{user.stats.totalLikes}

      div.badges-earned
        h2 Earned Badges
        if user.badges.length
          ul
            each badge in user.badges
              li 
                strong #{badge.name}
                |  - #{badge.description} (Earned: #{badge.earned_at})
        else
          p No badges earned yet.

      div.top-comments
        h2 Most Liked Comments
        if topComments.length
          ul
            each comment in topComments
              li "#{comment.text}" - #{comment.likeCounter} Likes
        else
          p No highly liked comments yet.

      div.most-active-times
        h2 Most Active Times
        if user.stats.mostActiveTimes.length
          ul
            each time in user.stats.mostActiveTimes
              li #{time.day} at #{time.time} - #{time.activityType} Activity
        else
          p No active times tracked yet.

      div.engagement-summary
        h2 Engagement Summary
        p Total Engagements: #{user.stats.totalEngagements}
        p Average Engagement per Post: #{user.stats.avgEngagement}

      div.recent-activity
        h2 Recent Activity
        if user.recentActivity.length
          ul
            each activity in user.recentActivity
              li #{activity.date} - #{activity.action}
        else
          p No recent activities.

      a(href=`/user/profile/${user.id}`) Back to Profile
