extends layout2

block content
  div.container
    h1 #{user.username}'s PROFILE PAGE 
    div.profile-info
      p Username: #{user.username}
      p Email: #{user.email}
      p Member since: #{user.date_joined}
      p Title: #{user.progress}

    div.badges
      h2 ACHIEVEMENTS
      if badges.length
        ul
          each badge in badges
            li
              strong #{badge.badgeName}
              |  - #{badge.badgeDescription}
      else
        p No badges earned yet.

    div.contributions
      h2 CONTRIBUTIONS
      if tips.length
        ul
          each tip in tips
            li
              a(href=`/tips/${tip.tipID}`) #{tip.title} (#{tip.createdAt})
      else
        p No contributions yet.

    a(href="/") Back to Home
