doctype html
html
  head
    title #{user.username}'s Profile
    link(rel="stylesheet", href="/static/styles.css")
  body
    div.container
      h1 #{user.username}'s Profile
      div.profile-info
        p Username: #{user.username}
        p Email: #{user.email}
        p Member since: #{user.date_joined}
        p Progress Level: #{user.progress}

      div.badges
        h2 Achievements
        if badges.length
          ul
            each badge in badges
              li
                strong #{badge.badgeName}
                |  - #{badge.badgeDescription}
        else
          p No badges earned yet.

      div.contributions
        h2 Contributions
        if tips.length
          ul
            each tip in tips
              li
                a(href=`/tips/${tip.tipID}`) #{tip.title} (#{tip.createdAt})
        else
          p No contributions yet.

      a(href="/") Back to Home