extends layout2 

block content
  div.container
    h1 #{user.username}'s STATISTICS

    div.stats
      h2 OVERVIEW:
      ul
        li Total Tips Posted: #{stats.totalTips}
        li Total Comments: #{stats.totalComments}
        li Total Likes Received: #{stats.totalLikes}

    div.badges-earned
      h2 BADGES:
      if badges.length > 0
        ul
          each badge in badges
            li 
              strong #{badge.badgeName}
              |  - #{badge.badgeDescription} (Earned: #{badge.earned_at})
      else
        p No badges earned yet.

    div.top-comments
      h2 MOST LIKED COMMENTS:
      if topComments && topComments.length > 0
        ul
          each comment in topComments
            li "#{comment.text}" - #{comment.likeCounter} Likes
      else
        p No highly liked comments yet.

    a(href=`/user/profile/${user.userID}`) Back to Profile
